
<div id = "customer_detail">

    <p class="lead">
        <span>CustomerID: </span>
        <span>{{customer.CustomerID}}</span>
    </p>
    <p class="lead">
        <span>CompanyName: </span>
        <span>{{customer.CompanyName}}</span>
    </p>
    <p class="lead">
        <span>ContactName: </span>
        <span>{{customer.ContactName}}</span>
    </p>
    <p class="lead">
        <span>ContactTitle: </span>
        <span>{{customer.ContactTitle}}</span>
    </p>
    <p class="lead">
        <span>Address: </span>
        <span>{{customer.Address}}</span>
    </p>
    <p class="lead">
        <span>City: </span>
        <span>{{customer.City}}</span>
    </p>
    <p class="lead">
        <span>Region: </span>
        <span>{{customer.Region}}</span>
    </p>
    <p class="lead">
        <span>PostalCode</span>
        <span>{{customer.PostalCode}}</span>
    </p>
    <p class="lead">
        <span>Country: </span>
        <span>{{customer.Country}}</span>
    </p>
    <p class="lead">
        <span>Phone: </span>
        <span>{{customer.Phone}}</span>
    </p>
    <p class="lead">
        <span>Fax: </span>
        <span>{{customer.Fax}}</span>
    </p>

</div>
